# Movies Tonight Part 4: A few SELECT queries 
__Use `%%sql` magic to write the queries listed below.__

In [28]:
# load %sql magic extension
%reload_ext sql

# initialize a database connection; may have to adjust username and password 
%sql sqlite:///Movies.db

'Connected: @Movies.db'

**1. Write a select query that returns the MovieTitle, TheaterName, and Showtime for each movie showing.**  
The query should use `JOIN` syntax as described in your textbook. Also, use aliases ( `… AS …` ) to make sure that column names match exactly what is asked for.

In [29]:
%%sql

SELECT DISTINCT MOVIES.TITLE AS MovieTitle, THEATERS.NAME as TheaterName, SHOWS.SHOWTIME as Showtime
FROM SHOWS
    JOIN THEATERS USING (TID)
    JOIN MOVIES USING (MID)
LIMIT 10;

 * sqlite:///Movies.db
Done.

[('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '4:20 PM'),
 ('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '7:20 PM'),
 ('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '9:40 PM'),
 ('Ghost & The Darkness, The', 'Akarakian Theatres Moreno 4 Cinemas', '5:10 PM'),
 ('Ghost & The Darkness, The', 'Akarakian Theatres Moreno 4 Cinemas', '9:00 PM'),
 ('Ghost & The Darkness, The', 'Akarakian Theatres Moreno 4 Cinemas', '9:05 PM'),
 ('Independence Day', 'Akarakian Theatres Moreno 4 Cinemas', '7:00 PM'),
 ('Associate, The', 'Cinema Star The Ultraplex 14', '4:40 PM'),
 ('Associate, The', 'Cinema Star The Ultraplex 14', '7:30 PM'),
 ('D3: The Mighty Ducks', 'Cinema Star The Ultraplex 14', '2:30 PM')]

**2. Write a select query to display the MovieTitle, TheaterName, and Showtime for each show after 7pm.** You can start with a copy of the previous query and then add a `WHERE` clause.

Lookup sqlite.org manual for datetime format!

In [30]:
%%sql

SELECT DISTINCT MOVIES.TITLE AS MovieTitle, THEATERS.NAME as TheaterName, SHOWS.SHOWTIME as Showtime
FROM Shows
    JOIN Theaters USING (TID)
    JOIN Movies USING (MID)
WHERE ShowTime > '07:00:00';

 * sqlite:///Movies.db
Done.

[('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '4:20 PM'),
 ('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '7:20 PM'),
 ('Associate, The', 'Akarakian Theatres Moreno 4 Cinemas', '9:40 PM'),
 ('Ghost & The Darkness, The', 'Akarakian Theatres Moreno 4 Cinemas', '5:10 PM'),
 ('Ghost & The Darkness, The', 'Akarakian Theatres Moreno 4 Cinemas', '9:00 PM'),
 ('Ghost & The Darkness, The', 'Akarakian Theatres Moreno 4 Cinemas', '9:05 PM'),
 ('Independence Day', 'Akarakian Theatres Moreno 4 Cinemas', '7:00 PM'),
 ('Associate, The', 'Cinema Star The Ultraplex 14', '4:40 PM'),
 ('Associate, The', 'Cinema Star The Ultraplex 14', '7:30 PM'),
 ('D3: The Mighty Ducks', 'Cinema Star The Ultraplex 14', '2:30 PM'),
 ('Dear God', 'Cinema Star The Ultraplex 14', '5:15 PM'),
 ('Dear God', 'Cinema Star The Ultraplex 14', '7:45 PM'),
 ('First Wives Club, The', 'Cinema Star The Ultraplex 14', '5:30 PM'),
 ('First Wives Club, The', 'Cinema Star The Ultraplex 14', '8:00 PM'),
 ('Ghost & The Darkness, The', 'Cinema Star The Ultraplex 14', '5:00 PM'),
 ('Ghost & The Darkness, The', 'Cinema Star The Ultraplex 14', '7:40 PM'),
 ('High School High', 'Cinema Star The Ultraplex 14', '4:00 PM'),
 ('High School High', 'Cinema Star The Ultraplex 14', '6:15 PM'),
 ('High School High', 'Cinema Star The Ultraplex 14', '8:30 PM'),
 ('Larger Than Life', 'Cinema Star The Ultraplex 14', '8:20 PM'),
 ('Mirror Has Two Faces, The', 'Cinema Star The Ultraplex 14', '4:45 PM'),
 ('Mirror Has Two Faces, The', 'Cinema Star The Ultraplex 14', '5:45 PM'),
 ('Mirror Has Two Faces, The', 'Cinema Star The Ultraplex 14', '7:45 PM'),
 ('Mirror Has Two Faces, The', 'Cinema Star The Ultraplex 14', '8:45 PM'),
 ('Ransom', 'Cinema Star The Ultraplex 14', '4:15 PM'),
 ('Ransom', 'Cinema Star The Ultraplex 14', '4:45 PM'),
 ('Ransom', 'Cinema Star The Ultraplex 14', '5:15 PM'),
 ('Ransom', 'Cinema Star The Ultraplex 14', '7:00 PM'),
 ('Ransom', 'Cinema Star The Ultraplex 14', '7:30 PM'),
 ('Ransom', 'Cinema Star The Ultraplex 14', '8:00 PM'),
 ('Ransom', 'Cinema Star The Ultraplex 14', '9:45 PM'),
 ('Sleepers', 'Cinema Star The Ultraplex 14', '7:30 PM'),
 ('Space Jam', 'Cinema Star The Ultraplex 14', '5:00 PM'),
 ('Space Jam', 'Cinema Star The Ultraplex 14', '6:00 PM'),
 ('Space Jam', 'Cinema Star The Ultraplex 14', '7:15 PM'),
 ('Space Jam', 'Cinema Star The Ultraplex 14', '8:15 PM'),
 ("Stephen King's Thinner", 'Cinema Star The Ultraplex 14', '6:00 PM'),
 ('Associate, The', 'General Cinema Rancho 6', '5:00 PM'),
 ('Associate, The', 'General Cinema Rancho 6', '7:30 PM'),
 ('Dear God', 'General Cinema Rancho 6', '4:45 PM'),
 ('Dear God', 'General Cinema Rancho 6', '7:15 PM'),
 ('First Wives Club, The', 'General Cinema Rancho 6', '5:30 PM'),
 ('First Wives Club, The', 'General Cinema Rancho 6', '8:00 PM'),
 ('Michael Collins', 'General Cinema Rancho 6', '4:00 PM'),
 ('Michael Collins', 'General Cinema Rancho 6', '7:15 PM'),
 ('Romeo & Juliet', 'General Cinema Rancho 6', '5:15 PM'),
 ('Romeo & Juliet', 'General Cinema Rancho 6', '7:45 PM'),
 ('Sleepers', 'General Cinema Rancho 6', '7:00 PM'),
 ('Ghost & The Darkness, The', 'Pacific Inland Center', '10:05 PM'),
 ('Ghost & The Darkness, The', 'Pacific Inland Center', '5:15 PM'),
 ('Ghost & The Darkness, The', 'Pacific Inland Center', '7:40 PM'),
 ('Big Night', 'SOCAL Canyon Crest Cinema', '4:40 PM'),
 ('Big Night', 'SOCAL Canyon Crest Cinema', '7:10 PM'),
 ('Big Night', 'SOCAL Canyon Crest Cinema', '9:40 PM'),
 ('Fly Away Home', 'SOCAL Canyon Crest Cinema', '3:50 PM'),
 ('Ghost & The Darkness, The', 'SOCAL Canyon Crest Cinema', '6:50 PM'),
 ('Ghost & The Darkness, The', 'SOCAL Canyon Crest Cinema', '9:15 PM'),
 ('Independence Day', 'SOCAL Canyon Crest Cinema', '6:10 PM'),
 ('Independence Day', 'SOCAL Canyon Crest Cinema', '9:10 PM'),
 ('Michael Collins', 'SOCAL Canyon Crest Cinema', '6:20 PM'),
 ('Michael Collins', 'SOCAL Canyon Crest Cinema', '9:10 PM'),
 ('Nutty Professor, The', 'SOCAL Canyon Crest Cinema', '4:25 PM'),
 ('Nutty Professor, The', 'SOCAL Canyon Crest Cinema', '8:05 PM'),
 ('Phenomenon', 'SOCAL Canyon Crest Cinema', '6:20 PM'),
 ('Phenomenon', 'SOCAL Canyon Crest Cinema', '9:15 PM'),
 ('Romeo & Juliet', 'SOCAL Canyon Crest Cinema', '4:30 PM'),
 ('Romeo & Juliet', 'SOCAL Canyon Crest Cinema', '7:00 PM'),
 ('Romeo & Juliet', 'SOCAL Canyon Crest Cinema', '9:30 PM'),
 ('Set It Off', 'SOCAL Canyon Crest Cinema', '4:10 PM'),
 ('Set It Off', 'SOCAL Canyon Crest Cinema', '6:30 PM'),
 ('Set It Off', 'SOCAL Canyon Crest Cinema', '9:00 PM'),
 ('Surviving Picasso', 'SOCAL Canyon Crest Cinema', '6:40 PM'),
 ('Surviving Picasso', 'SOCAL Canyon Crest Cinema', '9:25 PM'),
 ('Very Brady Sequel, A', 'SOCAL Canyon Crest Cinema', '6:00 PM'),
 ('D3: The Mighty Ducks', 'SOCAL Canyon Springs Cinema', '4:15 PM'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '6:40 PM'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM'),
 ('First Wives Club, The', 'SOCAL Canyon Springs Cinema', '4:20 PM'),
 ('First Wives Club, The', 'SOCAL Canyon Springs Cinema', '6:30 PM'),
 ('First Wives Club, The', 'SOCAL Canyon Springs Cinema', '8:40 PM'),
 ('Fly Away Home', 'SOCAL Canyon Springs Cinema', '4:50 PM'),
 ('Ghost & The Darkness, The', 'SOCAL Canyon Springs Cinema', '7:20 PM'),
 ('Ghost & The Darkness, The', 'SOCAL Canyon Springs Cinema', '9:50 PM'),
 ('Romeo & Juliet', 'SOCAL Canyon Springs Cinema', '4:30 PM'),
 ('Romeo & Juliet', 'SOCAL Canyon Springs Cinema', '7:00 PM'),
 ('Romeo & Juliet', 'SOCAL Canyon Springs Cinema', '9:30 PM'),
 ('Set It Off', 'SOCAL Canyon Springs Cinema', '4:25 PM'),
 ('Set It Off', 'SOCAL Canyon Springs Cinema', '6:50 PM'),
 ('Set It Off', 'SOCAL Canyon Springs Cinema', '9:15 PM'),
 ('Sleepers', 'SOCAL Canyon Springs Cinema', '5:30 PM'),
 ('Sleepers', 'SOCAL Canyon Springs Cinema', '8:30 PM'),
 ('That Thing You Do', 'SOCAL Canyon Springs Cinema', '4:40 PM'),
 ('That Thing You Do', 'SOCAL Canyon Springs Cinema', '7:15 PM'),
 ('That Thing You Do', 'SOCAL Canyon Springs Cinema', '9:40 PM'),
 ('Mirror Has Two Faces, The', 'SOCAL Marketplace Cinema', '4:10 PM'),
 ('Mirror Has Two Faces, The', 'SOCAL Marketplace Cinema', '6:45 PM'),
 ('Mirror Has Two Faces, The', 'SOCAL Marketplace Cinema', '9:25 PM'),
 ('Ransom', 'SOCAL Marketplace Cinema', '4:20 PM'),
 ('Ransom', 'SOCAL Marketplace Cinema', '5:20 PM'),
 ('Ransom', 'SOCAL Marketplace Cinema', '7:00 PM'),
 ('Ransom', 'SOCAL Marketplace Cinema', '8:00 PM'),
 ('Ransom', 'SOCAL Marketplace Cinema', '9:40 PM'),
 ('Space Jam', 'SOCAL Marketplace Cinema', '4:45 PM'),
 ('Space Jam', 'SOCAL Marketplace Cinema', '5:50 PM'),
 ('Space Jam', 'SOCAL Marketplace Cinema', '7:15 PM'),
 ('Space Jam', 'SOCAL Marketplace Cinema', '8:10 PM'),
 ('Space Jam', 'SOCAL Marketplace Cinema', '9:30 PM'),
 ('First Wives Club, The', 'United Artists Riverside (Galleria) Tyler Mall', '4:20 PM'),
 ('First Wives Club, The', 'United Artists Riverside (Galleria) Tyler Mall', '7:10 PM'),
 ('First Wives Club, The', 'United Artists Riverside (Galleria) Tyler Mall', '9:30 PM'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '5:00 PM'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '7:00 PM'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '9:00 PM'),
 ('Romeo & Juliet', 'United Artists Riverside (Galleria) Tyler Mall', '4:30 PM'),
 ('Romeo & Juliet', 'United Artists Riverside (Galleria) Tyler Mall', '7:00 PM'),
 ('Romeo & Juliet', 'United Artists Riverside (Galleria) Tyler Mall', '9:45 PM'),
 ('Space Jam', 'United Artists Riverside (Galleria) Tyler Mall', '5:25 PM'),
 ('Space Jam', 'United Artists Riverside (Galleria) Tyler Mall', '7:30 PM'),
 ('Space Jam', 'United Artists Riverside (Galleria) Tyler Mall', '9:35 PM'),
 ('Dear God', 'United Artists Riverside Park Sierra', '5:15 PM'),
 ('Dear God', 'United Artists Riverside Park Sierra', '9:25 PM'),
 ('Ghost & The Darkness, The', 'United Artists Riverside Park Sierra', '7:15 PM'),
 ('Larger Than Life', 'United Artists Riverside Park Sierra', '7:30 PM'),
 ('Mirror Has Two Faces, The', 'United Artists Riverside Park Sierra', '10:20 PM'),
 ('Mirror Has Two Faces, The', 'United Artists Riverside Park Sierra', '4:30 PM'),
 ('Mirror Has Two Faces, The', 'United Artists Riverside Park Sierra', '7:40 PM'),
 ('Set It Off', 'United Artists Riverside Park Sierra', '10:05 PM'),
 ('Set It Off', 'United Artists Riverside Park Sierra', '4:40 PM'),
 ('Set It Off', 'United Artists Riverside Park Sierra', '7:20 PM'),
 ('Sleepers', 'United Artists Riverside Park Sierra', '4:20 PM'),
 ('Sleepers', 'United Artists Riverside Park Sierra', '9:30 PM')]

**3. Write a select query to display the cast (actors only) of each movie.** The query should return the Movie Title, Actor Name, MID, and AID.

In [32]:
%%sql

SELECT DISTINCT MOVIES.MID, MOVIES.TITLE, ARTISTS.AID, ARTISTS.NAME 
FROM Movies
    JOIN Credit USING (MID)
    JOIN Artists USING (AID)
WHERE CREDIT.CCODE = "A"
LIMIT 10;

 * sqlite:///Movies.db
Done.

[(1, 'Associate, The', 1, 'Austin Pendleton'),
 (2, 'Ghost & The Darkness, The', 1, 'Austin Pendleton'),
 (3, 'Independence Day', 1, 'Austin Pendleton'),
 (4, 'D3: The Mighty Ducks', 1, 'Austin Pendleton'),
 (5, 'Dear God', 1, 'Austin Pendleton'),
 (6, 'First Wives Club, The', 1, 'Austin Pendleton'),
 (7, 'High School High', 1, 'Austin Pendleton'),
 (8, 'Larger Than Life', 1, 'Austin Pendleton'),
 (10, 'Ransom', 2, 'Bebe Neuwirth'),
 (11, 'Sleepers', 2, 'Bebe Neuwirth')]

**4. Write a select query to display the number of distinct movies that each actor appears in.** The query should return the ActorName, MovieCount, and AID. You will need to use use a GROUP BY clause and the COUNT() function.

In [33]:
%%sql

SELECT ARTISTS.AID, ARTISTS.NAME as ActorName, COUNT(DISTINCT MID) as MovieCount
FROM Movies
    JOIN Credit USING (MID)
    JOIN Artists USING (AID)
WHERE CREDIT.CCODE = "A"
GROUP BY ARTISTS.AID, ARTISTS.NAME
LIMIT 10;

 * sqlite:///Movies.db
Done.

[(1, 'Austin Pendleton', 8), (2, 'Bebe Neuwirth', 8), (3, 'Dianne Wiest', 5)]

**5. Write a select query to display only the actors that appear in multiple movies.** The query should return the Actor Name, Movie Count, and AID. You can use the previous select query as a starting point. You will need to add a HAVING clause to do the restriction.

In [34]:
%%sql

SELECT ARTISTS.AID, ARTISTS.NAME as ActorName, COUNT(DISTINCT MID) as MovieCount
FROM Movies
    JOIN Credit USING (MID)
    JOIN Artists USING (AID)
WHERE CREDIT.CCODE = "A"
GROUP BY ARTISTS.AID, ARTISTS.NAME
HAVING MovieCount > 1;

 * sqlite:///Movies.db
Done.

[(1, 'Austin Pendleton', 8), (2, 'Bebe Neuwirth', 8), (3, 'Dianne Wiest', 5)]

**6. Write a select query to display directors that also act in their movies.** The query should return the ArtistName, NumDirectorCredits, NumActorCredits, NumDirectorActorCredits. Each count should be calculated separately using a subquery. Note: NumDirectorActorCredits should be greater than 0.

In [52]:
%%sql

SELECT ARTISTS.NAME as ArtistName, MOVIES.TITLE, COUNT(CCODE) as NumCCODES
FROM Artists
    JOIN Credit USING (AID)
    JOIN Movies USING (MID)
WHERE Artists.Name = 'Stanley Tucci'
GROUP BY ARTISTS.AID, MOVIES.MID, ARTISTS.NAME, MOVIES.TITLE;

 * sqlite:///Movies.db
Done.

[('Stanley Tucci', 'Big Night', 2)]

### Another way! (Join a table with itself!)
    The following code looks for actors AND directors (using a cross join)

In [53]:
%%sql

SELECT Artists.Name as ArtistName, MOVIES.TITLE, c1.CCODE as c1code, c2.CCODE as c2code
FROM CREDIT as c1
    JOIN CREDIT as c2 USING (AID, MID)
    JOIN Artists USING (AID)
    JOIN Movies USING (MID)
WHERE c1code = 'A' and c2code = 'D';

 * sqlite:///Movies.db
Done.

[('Rob Lieberman', 'D3: The Mighty Ducks', 'A', 'D'),
 ('Barbra Streisand', 'Mirror Has Two Faces, The', 'A', 'D'),
 ('Campbell Scott', 'Big Night', 'A', 'D'),
 ('Stanley Tucci', 'Big Night', 'A', 'D')]

In [40]:
%%sql
SELECT * FROM sqlite_master;

 * sqlite:///Movies.db
Done.

[('table', 'Theaters', 'Theaters', 2, 'CREATE TABLE Theaters (\n    TID INTEGER PRIMARY KEY, \n    Name TEXT NOT NULL,\n    Location TEXT NOT NULL, \n    Phone TEXT NOT NULL\n)'),
 ('table', 'Movies', 'Movies', 3, 'CREATE TABLE Movies (\n    MID INTEGER PRIMARY KEY,\n    Title TEXT NOT NULL,\n    Rating TEXT\n)'),
 ('table', 'Artists', 'Artists', 4, 'CREATE TABLE Artists (\n    AID INTEGER PRIMARY KEY,\n    Name TEXT NOT NULL,\n    Bio TEXT,\n    Headshot BLOB\n)'),
 ('table', 'Shows', 'Shows', 5, 'CREATE TABLE Shows (\n    SID INTEGER PRIMARY KEY, \n    ShowTime TEXT NOT NULL,\n    MID INTEGER NOT NULL, \n    TID INTEGER NOT NULL,\n    FOREIGN KEY (TID) REFERENCES TheaterS(TID),\n    FOREIGN KEY (MID) REFERENCES Movies(MID)\n)'),
 ('table', 'Credit', 'Credit', 6, 'CREATE TABLE Credit (\n    CID INTEGER PRIMARY KEY, \n    AID INTEGER NOT NULL,\n    MID INTEGER NOT NULL,\n    CCode TEXT NOT NULL,\n    FOREIGN KEY (AID) REFERENCES Artist(AID),\n    FOREIGN KEY (MID) REFERENCES Movies(MID)\n)'),
 ('table', 'DATASET', 'DATASET', 8, 'CREATE TABLE DATASET(\n  "TName" TEXT,\n  "Location" TEXT,\n  "Phone" TEXT,\n  "MTitle" TEXT,\n  "ShowTime" TEXT,\n  "Rating" TEXT,\n  "CCode" TEXT,\n  "CName" TEXT\n)')]

In [27]:
%%sql
SELECT * FROM MOVIES;

 * sqlite:///Movies.db
Done.

[]